# Also ignore symlinks
app/bootstrap.php.cache
app/cache/
app/logs/
app/check.php
app/SymfonyRequirements.php
app/config/parameters.yml
vendor
bin
.env
# - IDE specific files
# Eclipse
/.project
/.settings/
/.buildpath

# Netbeans
/nbproject

# phpStorm
/.idea
